extends ../../layout

block content
  h1= targetUser.name

  if targetUser.errors
    for error in targetUser.errors
      .alert.alert-danger(role="alert")= error

  .row
    .col-md-5.cal-sm-12
      img.user-avatar(src=targetUser.avatarUrl)
    .col-md-7.cal-sm-12
      dl
        dt Name
        dd= targetUser.name

        dt Nickname
        dd= targetUser.nickname

        dt Phase
        dd
          span Phase
          &nbsp;
          span= targetUser.phase
          &nbsp;
          small= `(week ${targetUser.currentPhaseWeekNumber}/8)`

        dt Start Date
        dd
          = renderDate(targetUser.enrolleeStartDate)
          &nbsp;
          small= `(${weeksAgoInWords(targetUser.enrolleeStartDate)})`

        dt GitHub
        dd
          a(href=targetUser.profileUrl)= targetUser.handle

        dt Hubspot VID
        dd
          a(href="https://app.hubspot.com/contacts/2144508/contact/#{targetUser.vid}/" target="_blank")= targetUser.vid

        dt IDM ID
        dd
          a(href="https://echo.learnersguild.org/users/#{targetUser.handle}/" target="_blank")= targetUser.id

        dt Phone
        dd
          = targetUser.phone

        dt Date of Birth
        dd
          = renderDate(targetUser.dateOfBirth)

        dt Roles
        dd
          = targetUser.roles.join(', ')

        dt Created At
        dd
          span= renderDate(targetUser.createdAt)
          &nbsp;
          small= `(${timeAgoInWords(targetUser.createdAt)})`


        dt Last Modified
        dd
          = renderDate(targetUser.lastmodifieddate)
          &nbsp;
          small= `(${timeAgoInWords(targetUser.lastmodifieddate)})`

        dt Personal Days
        dd
          = `${targetUser.pd_days_used||0}/${targetUser.pd_days_remaining||0}`

        for n in [1,2,3,4,5]
          - phaseStartDate = targetUser[`phase${n}StartDate`]
          dt Started Phase #{n}
          dd
            if phaseStartDate
              = renderDate(phaseStartDate)
              &nbsp;
              small= `(${weeksAgoInWords(phaseStartDate)})`
            else
              | n/a
